<div id="preloader">
    <div id="spinner">
        <!--<img class="ml-5" src="/frontend/images/preloaders/3.gif" alt="">-->
        <div class="preloader-orbit-loading">
          <div class="cssload-inner cssload-one"></div>
          <div class="cssload-inner cssload-two"></div>
          <div class="cssload-inner cssload-three"></div>
        </div>

    </div>
    <!--<div id="disable-preloader" class="btn btn-default btn-sm">Tắt trình tải xuống</div>-->
</div>