<div class="header-top bg-black-333 sm-text-center border-top-theme-color-3px p-0">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <% @company_info = Erp::Contacts::Contact.get_main_contact %>
                <div class="widget no-border m-0">
                    <ul class="list-inline xs-text-center text-white mt-5">
                        <% if @company_info.hotline.present? %>
                        <li class="m-0 pl-10 pr-10">
                            <i class="fa fa-phone text-theme-colored"></i> <%= link_to @company_info.phone, "tel:#{@company_info.phone}", class: 'text-white' %>
                        </li>
                        <% end %>
                        <% if @company_info.email.present? %>
                        <li class="m-0 pl-10 pr-10">
                            <i class="fa fa-envelope-o text-theme-colored"></i> <%= mail_to @company_info.email, @company_info.email, class: 'text-white' %>
                        </li>
                        <% end %>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 pr-0">
                <div class="widget no-border m-0">
                    <ul class="styled-icons icon-dark icon-flat icon-sm pull-right flip sm-pull-none sm-text-center mt-sm-15">
                        <li><a href="https://www.facebook.com/vnmechanical/" target="_blank"><i class="fa fa-facebook text-white"></i></a></li>
                        <li><a href="javascript:;" target="_blank"><i class="fa fa-youtube text-white"></i></a></li>
                        <li><a href="javascript:;" target="_blank"><i class="fa fa-google-plus text-white"></i></a></li>
                        <li><a href="javascript:;" target="_blank"><i class="fa fa-instagram text-white"></i></a></li>
                        <li><a href="javascript:;" target="_blank"><i class="fa fa-linkedin text-white"></i></a></li>
                    </ul>
                </div>
            </div>
            <% if false %>
                <div class="col-md-2">
                    <a class="btn btn-colored btn-flat btn-theme-colored pb-10 ajaxload-popup" href="ajax-load/reservation-form.html">Get A Quote Now</a>
                </div>
            <% end %>
        </div>
    </div>
</div>