<!-- Section: inner-header -->
<section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="/frontend/images/bg/bg11.jpg">
    <div class="container pt-10 pb-10">
        <!-- Section Content -->
        <div class="section-content pt-10">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title text-white">Giới thiệu</h1>
                    <ul class="breadcrumb white">
                        <li><a href="<%= erp_vnmechanical.root_path %>">Trang chủ</a></li>
                        <li class="active">Giới thiệu</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<%= render 'erp/vnmechanical/frontend/modules/about_us/about' %>

<%= render 'erp/vnmechanical/frontend/modules/about_us/other' if false %>