<!-- Section: inner-header -->
<section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="/frontend/images/bg/bg11.jpg">
    <div class="container pt-10 pb-10">
        <!-- Section Content -->
        <div class="section-content pt-10">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title text-theme-colored">Tuyển dụng</h1>
                    <ul class="breadcrumb white">
                        <li><a href="#">Trang chủ</a></li>
                        <li class="active">Tuyển dụng</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section: Causes -->
<section>
    <div class="container pb-30">
        <% if false %>
        <div class="section-content">
            <div class="row multi-row-clearfix">
                <div class="col-sm-12 col-md-6">
                    <div class="project bg-white maxwidth500 clearfix mb-40">
                        <div class="col-md-12">
                            <div class="border-1px clearfix p-15 pl-sm-0 mt-sm-15">
                                <h5 class="text-gray font-14 font-weight-500 mt-0 mb-0">Subtitle place here</h5>
                                <h3 class="font-weight-700 mt-0 mb-5"><a href="#">Service Title Here</a></h3>
                                <p>Lorem ipsum dolor sit amet, consect adipisicing elit. Praesent quos sit.Lorem ipsum dolor sit amet, consect adipisicing elit.</p>
                                <div class="clearfix mt-10">
                                    <div class="clearfix"></div>
                                    <a href="#" class="btn btn-xs btn-default font-weight-600 font-11 mt-10 mr-5">View Details</a>
                                    <a href="#" class="btn btn-xs btn-theme-colored font-weight-600 font-11 mt-10">Contact Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="project bg-white maxwidth500 clearfix mb-40">
                        <div class="col-md-12">
                            <div class="border-1px clearfix p-15 pl-sm-0 mt-sm-15">
                                <h5 class="text-gray font-14 font-weight-500 mt-0 mb-0">Subtitle place here</h5>
                                <h3 class="font-weight-700 mt-0 mb-5"><a href="#">Service Title Here</a></h3>
                                <p>Lorem ipsum dolor sit amet, consect adipisicing elit. Praesent quos sit.Lorem ipsum dolor sit amet, consect adipisicing elit.</p>
                                <div class="clearfix mt-10">
                                    <div class="clearfix"></div>
                                    <a href="#" class="btn btn-xs btn-default font-weight-600 font-11 mt-10 mr-5">View Details</a>
                                    <a href="#" class="btn btn-xs btn-theme-colored font-weight-600 font-11 mt-10">Contact Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="project bg-white maxwidth500 clearfix mb-40">
                        <div class="col-md-12">
                            <div class="border-1px clearfix p-15 pl-sm-0 mt-sm-15">
                                <h5 class="text-gray font-14 font-weight-500 mt-0 mb-0">Subtitle place here</h5>
                                <h3 class="font-weight-700 mt-0 mb-5"><a href="#">Service Title Here</a></h3>
                                <p>Lorem ipsum dolor sit amet, consect adipisicing elit. Praesent quos sit.Lorem ipsum dolor sit amet, consect adipisicing elit.</p>
                                <div class="clearfix mt-10">
                                    <div class="clearfix"></div>
                                    <a href="#" class="btn btn-xs btn-default font-weight-600 font-11 mt-10 mr-5">View Details</a>
                                    <a href="#" class="btn btn-xs btn-theme-colored font-weight-600 font-11 mt-10">Contact Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="project bg-white maxwidth500 clearfix mb-40">
                        <div class="col-md-12">
                            <div class="border-1px clearfix p-15 pl-sm-0 mt-sm-15">
                                <h5 class="text-gray font-14 font-weight-500 mt-0 mb-0">Subtitle place here</h5>
                                <h3 class="font-weight-700 mt-0 mb-5"><a href="#">Service Title Here</a></h3>
                                <p>Lorem ipsum dolor sit amet, consect adipisicing elit. Praesent quos sit.Lorem ipsum dolor sit amet, consect adipisicing elit.</p>
                                <div class="clearfix mt-10">
                                    <div class="clearfix"></div>
                                    <a href="#" class="btn btn-xs btn-default font-weight-600 font-11 mt-10 mr-5">View Details</a>
                                    <a href="#" class="btn btn-xs btn-theme-colored font-weight-600 font-11 mt-10">Contact Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <nav>
                        <ul class="pagination theme-colored mt-0">
                            <li> <a aria-label="Previous" href="#"> <span aria-hidden="true">«</span> </a> </li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">...</a></li>
                            <li> <a aria-label="Next" href="#"> <span aria-hidden="true">»</span> </a> </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <% else %>
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-info">Hiện tại chưa có đợt tuyển dụng.</div>
                </div>
            </div>
        <% end %>
    </div>
</section>