<!-- Section: inner-header -->
<section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="/frontend/images/bg/bg11.jpg">
    <div class="container pt-10 pb-10">
        <!-- Section Content -->
        <div class="section-content pt-10">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title text-theme-colored">Dịch vụ</h1>
                    <ul class="breadcrumb white">
                        <li><a href="#">Trang chủ</a></li>
                        <li class="active">Dịch vụ</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section: Services  -->
<section>
    <div class="container pb-30">
        <div class="section-content">
            <div class="row multi-row-clearfix">
                <div class="col-sm-6 col-md-4">
                    <div class="project mb-30">
                        <div class="thumb">
                            <img class="img-fullwidth" alt="" src="/frontend/images/about/1.jpg">
                            <div class="hover-link">
                                <a href="#"><i class="flaticon-attachment"></i></a>
                            </div>
                        </div>
                        <div class="project-details p-15 pt-10 pb-10">
                            <h2 class="title font-weight-700 font-15 mt-5 mb-5">Tư vấn</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="project mb-30">
                        <div class="thumb">
                            <img class="img-fullwidth" alt="" src="/frontend/images/about/2.jpg">
                            <div class="hover-link">
                                <a href="#"><i class="flaticon-attachment"></i></a>
                            </div>
                        </div>
                        <div class="project-details p-15 pt-10 pb-10">
                            <h2 class="title font-weight-700 font-15 mt-5 mb-5">Nâng cấp</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="project mb-30">
                        <div class="thumb">
                            <img class="img-fullwidth" alt="" src="/frontend/images/about/3.jpg">
                            <div class="hover-link">
                                <a href="#"><i class="flaticon-attachment"></i></a>
                            </div>
                        </div>
                        <div class="project-details p-15 pt-10 pb-10">
                            <h2 class="title font-weight-700 font-15 mt-5 mb-5">Hỗ trợ kỹ thuật</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="project mb-30">
                        <div class="thumb">
                            <img class="img-fullwidth" alt="" src="/frontend/images/about/4.jpg">
                            <div class="hover-link">
                                <a href="#"><i class="flaticon-attachment"></i></a>
                            </div>
                        </div>
                        <div class="project-details p-15 pt-10 pb-10">
                            <h2 class="title font-weight-700 font-15 mt-5 mb-5">Thay thế phụ tùng</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="project mb-30">
                        <div class="thumb">
                            <img class="img-fullwidth" alt="" src="/frontend/images/about/7.jpg">
                            <div class="hover-link">
                                <a href="#"><i class="flaticon-attachment"></i></a>
                            </div>
                        </div>
                        <div class="project-details p-15 pt-10 pb-10">
                            <h2 class="title font-weight-700 font-15 mt-5 mb-5">Bảo trì</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="project mb-30">
                        <div class="thumb">
                            <img class="img-fullwidth" alt="" src="/frontend/images/about/6.jpg">
                            <div class="hover-link">
                                <a href="#"><i class="flaticon-attachment"></i></a>
                            </div>
                        </div>
                        <div class="project-details p-15 pt-10 pb-10">
                            <h2 class="title font-weight-700 font-15 mt-5 mb-5">Lắp đặt - Chạy thử - Đào tạo</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>