<!-- Section: Why Choose Us -->
<section class="bg-silver-light bg-no-repeat bg-img-left-top" data-bg-img="images/photos/2.png">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="line-bottom mt-0">Why Choose Us?</h3>
                    <div id="accordion1" class="panel-group accordion mb-0">
                        <div class="panel">
                            <div class="panel-title"> <a class="active" data-parent="#accordion1" data-toggle="collapse" href="#accordion11" aria-expanded="true"> <span class="open-sub"></span> Why this Company is Best?</a> </div>
                            <div id="accordion11" class="panel-collapse collapse in" role="tablist" aria-expanded="true">
                                <div class="panel-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore impedit quae repellendus provident dolor iure poss imusven am aliquam. Officiis totam ea laborum deser unt vonsess. iure poss imusven am aliquamLorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion12" class="" aria-expanded="true"> <span class="open-sub"></span> Why this Company is Best?</a> </div>
                            <div id="accordion12" class="panel-collapse collapse" role="tablist" aria-expanded="true">
                                <div class="panel-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore impedit quae repellendus provident dolor iure poss imusven am aliquam. Officiis totam ea laborum deser unt vonsess. iure poss imusven am aliquamLorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion13" class="" aria-expanded="true"> <span class="open-sub"></span> Why this Company is Best?</a> </div>
                            <div id="accordion13" class="panel-collapse collapse" role="tablist" aria-expanded="true">
                                <div class="panel-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore impedit quae repellendus provident dolor iure poss imusven am aliquam. Officiis totam ea laborum deser unt vonsess. iure poss imusven am aliquamLorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion14" class="" aria-expanded="true"> <span class="open-sub"></span> Why this Company is Best?</a> </div>
                            <div id="accordion14" class="panel-collapse collapse" role="tablist" aria-expanded="true">
                                <div class="panel-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore impedit quae repellendus provident dolor iure poss imusven am aliquam. Officiis totam ea laborum deser unt vonsess. iure poss imusven am aliquamLorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3 class="line-bottom mt-0 mt-sm-40">Our Client Say</h3>
                    <div class="bxslider bx-nav-top">
                        <div class="media border-1px bg-white sm-maxwidth400 p-15 mt-0 mb-15">
                            <div class="testimonial pt-10">
                                <div class="thumb pull-left mb-0 mr-0 pr-20">
                                    <img width="75" class="img-circle" alt="" src="/frontend/images/testimonials/1.jpg">
                                </div>
                                <div class="ml-100 ">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas vel sint, ut. Quisquam doloremque minus possimus eligendi dolore ad.</p>
                                    <p class="author mt-10">- <span class="text-theme-colored">Catherine Grace,</span> <small><em>CEO apple.inc</em></small></p>
                                </div>
                            </div>
                        </div>
                        <div class="media border-1px bg-white sm-maxwidth400 p-15 mt-0 mb-15">
                            <div class="testimonial pt-10">
                                <div class="thumb pull-left mb-0 mr-0 pr-20">
                                    <img width="75" class="img-circle" alt="" src="/frontend/images/testimonials/1.jpg">
                                </div>
                                <div class="ml-100 ">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas vel sint, ut. Quisquam doloremque minus possimus eligendi dolore ad.</p>
                                    <p class="author mt-10">- <span class="text-theme-colored">Catherine Grace,</span> <small><em>CEO apple.inc</em></small></p>
                                </div>
                            </div>
                        </div>
                        <div class="media border-1px bg-white sm-maxwidth400 p-15 mt-0 mb-15">
                            <div class="testimonial pt-10">
                                <div class="thumb pull-left mb-0 mr-0 pr-20">
                                    <img width="75" class="img-circle" alt="" src="/frontend/images/testimonials/1.jpg">
                                </div>
                                <div class="ml-100 ">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas vel sint, ut. Quisquam doloremque minus possimus eligendi dolore ad.</p>
                                    <p class="author mt-10">- <span class="text-theme-colored">Catherine Grace,</span> <small><em>CEO apple.inc</em></small></p>
                                </div>
                            </div>
                        </div>
                        <div class="media border-1px bg-white sm-maxwidth400 p-15 mt-0 mb-15">
                            <div class="testimonial pt-10">
                                <div class="thumb pull-left mb-0 mr-0 pr-20">
                                    <img width="75" class="img-circle" alt="" src="/frontend/images/testimonials/1.jpg">
                                </div>
                                <div class="ml-100 ">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas vel sint, ut. Quisquam doloremque minus possimus eligendi dolore ad.</p>
                                    <p class="author mt-10">- <span class="text-theme-colored">Catherine Grace,</span> <small><em>CEO apple.inc</em></small></p>
                                </div>
                            </div>
                        </div>
                        <div class="media border-1px bg-white sm-maxwidth400 p-15 mt-0 mb-15">
                            <div class="testimonial pt-10">
                                <div class="thumb pull-left mb-0 mr-0 pr-20">
                                    <img width="75" class="img-circle" alt="" src="/frontend/images/testimonials/1.jpg">
                                </div>
                                <div class="ml-100 ">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas vel sint, ut. Quisquam doloremque minus possimus eligendi dolore ad.</p>
                                    <p class="author mt-10">- <span class="text-theme-colored">Catherine Grace,</span> <small><em>CEO apple.inc</em></small></p>
                                </div>
                            </div>
                        </div>
                        <div class="media border-1px bg-white sm-maxwidth400 p-15 mt-0 mb-15">
                            <div class="testimonial pt-10">
                                <div class="thumb pull-left mb-0 mr-0 pr-20">
                                    <img width="75" class="img-circle" alt="" src="/frontend/images/testimonials/1.jpg">
                                </div>
                                <div class="ml-100 ">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas vel sint, ut. Quisquam doloremque minus possimus eligendi dolore ad.</p>
                                    <p class="author mt-10">- <span class="text-theme-colored">Catherine Grace,</span> <small><em>CEO apple.inc</em></small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Divider: Funfact -->
<section class="divider parallax layer-overlay overlay-dark-8" data-bg-img="images/bg/bg6.jpg" data-parallax-ratio="0.7">
    <div class="container pt-30 pb-0">
        <div class="row">
            <div class="col-md-4">
                <img class="img-fullwidth" src="/frontend/images/photos/4.png" alt="">
            </div>
            <div class="col-md-8 pt-100">
                <div class="col-xs-12 col-sm-6 col-md-4 mb-md-50">
                    <div class="funfact text-center">
                        <i class="flaticon-worker text-white font-weight-800 font-32 mt-5"></i>
                        <h2 class="animate-number text-theme-colored font-36 font-weight-500 font-trirong mt-10 mb-0" data-value="987" data-animation-duration="2000">0</h2>
                        <h5 class="text-uppercase font-14 text-white">Vehicles Serviced</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 mb-md-50">
                    <div class="funfact text-center">
                        <i class="flaticon-layers text-white font-weight-800 font-32 mt-5"></i>
                        <h2 class="animate-number text-theme-colored font-36 font-weight-500 font-trirong mt-10 mb-0" data-value="1452" data-animation-duration="2000">0</h2>
                        <h5 class="text-uppercase font-14 text-white">Happy Clients</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 mb-md-50">
                    <div class="funfact text-center">
                        <i class="flaticon-trophy2 text-white font-weight-800 font-32 mt-5"></i>
                        <h2 class="animate-number text-theme-colored font-36 font-weight-500 font-trirong mt-10 mb-0" data-value="456" data-animation-duration="2000">0</h2>
                        <h5 class="text-uppercase font-14 text-white">Awards Won</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Divider: Donors -->
<section class="bg-silver-light">
    <div class="container pt-30 pb-40">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-uppercase title line-bottom mt-0 mb-30"><i class="fa fa-calendar text-gray-darkgray mr-10"></i>Our Expert <span class="text-theme-colored">Engineers </span></h3>
                <!-- Section: Donors -->
                <div class="owl-carousel-6col text-center">
                    <div class="item"> <a href="#"><img src="/frontend/images/donors/1.jpg" alt=""></a></div>
                    <div class="item"> <a href="#"><img src="/frontend/images/donors/2.jpg" alt=""></a></div>
                    <div class="item"> <a href="#"><img src="/frontend/images/donors/3.jpg" alt=""></a></div>
                    <div class="item"> <a href="#"><img src="/frontend/images/donors/4.jpg" alt=""></a></div>
                    <div class="item"> <a href="#"><img src="/frontend/images/donors/5.jpg" alt=""></a></div>
                    <div class="item"> <a href="#"><img src="/frontend/images/donors/6.jpg" alt=""></a></div>
                    <div class="item"> <a href="#"><img src="/frontend/images/donors/3.jpg" alt=""></a></div>
                    <div class="item"> <a href="#"><img src="/frontend/images/donors/4.jpg" alt=""></a></div>
                    <div class="item"> <a href="#"><img src="/frontend/images/donors/5.jpg" alt=""></a></div>
                    <div class="item"> <a href="#"><img src="/frontend/images/donors/6.jpg" alt=""></a></div>
                </div>
            </div>
        </div>
    </div>
</section>