<!-- Section: About  -->
<section class="">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-md-5 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
                    <h3 class="line-bottom mt-0">Best Car Repair Center</h3>
                    <h4 class="font-18 font-weight-500 text-gray-dimgray mt-20 mb-15">Lorem ipsum dolor sit amet consectetur adipisicing elit Perferendis repudiandae nostrum quibusdam! elit Perferendis repudiandae</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut minus commodi, illo, enim nemo illum repellendus accusantium maiores delectus doloribus alias ea quisquam cum nulla a volupta delectus doloribus alias ea quisquam cum nulla a voluptatum nobis eius, deleniti dicta molestiae atque. Exercitationem odit dolor cumque facilis natus recusandae id, dolorum modi ducimus minus.</p>
                    <a href="#" class="btn btn-theme-colored btn-flat btn-lg mt-15 mr-15">Read more</a>
                    <a href="#" class="btn btn-default btn-flat btn-lg mt-15">Contact Us</a>
                </div>
                <div class="col-md-7 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="img-hover-border mt-sm-40">
                                <img class="img-fullwidth" src="/frontend/images/about/d1.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="img-hover-border mt-sm-30">
                                <img class="img-fullwidth" src="/frontend/images/about/d2.jpg" alt="">
                            </div>
                            <div class="img-hover-border mt-15 mt-sm-30">
                                <img class="img-fullwidth" src="/frontend/images/about/d3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>