<!-- Section: Client Say -->
<section class="bg-silver-light bg-no-repeat bg-img-left-top" data-bg-img="/frontend/images/photos/2.png">
    <div class="container">
        <div class="section-title text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-uppercase line-bottom-center mt-0">Cảm nhận <span class="text-theme-colored">Khách hàng</span></h2>
                    <p>Khách hàng nói gì khi đến với chúng tôi</p>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="owl-carousel-2col" data-dots="true">
                        <div class="media border-1px bg-white sm-maxwidth400 p-15 mt-0 mb-15">
                            <div class="testimonial pt-10">
                                <div class="thumb pull-left mb-0 mr-0 pr-20">
                                    <img width="75" class="img-circle" alt="" src="/frontend/images/testimonials/1.jpg">
                                </div>
                                <div class="ml-100 ">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas vel sint, ut. Quisquam doloremque minus possimus eligendi dolore ad.</p>
                                    <p class="author mt-10">- <span class="text-theme-colored">Catherine Grace,</span> <small><em>CEO apple.inc</em></small></p>
                                </div>
                            </div>
                        </div>
                        <div class="media border-1px bg-white sm-maxwidth400 p-15 mt-0 mb-15">
                            <div class="testimonial pt-10">
                                <div class="thumb pull-left mb-0 mr-0 pr-20">
                                    <img width="75" class="img-circle" alt="" src="/frontend/images/testimonials/1.jpg">
                                </div>
                                <div class="ml-100 ">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas vel sint, ut. Quisquam doloremque minus possimus eligendi dolore ad.</p>
                                    <p class="author mt-10">- <span class="text-theme-colored">Catherine Grace,</span> <small><em>CEO apple.inc</em></small></p>
                                </div>
                            </div>
                        </div>
                        <div class="media border-1px bg-white sm-maxwidth400 p-15 mt-0 mb-15">
                            <div class="testimonial pt-10">
                                <div class="thumb pull-left mb-0 mr-0 pr-20">
                                    <img width="75" class="img-circle" alt="" src="/frontend/images/testimonials/1.jpg">
                                </div>
                                <div class="ml-100 ">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas vel sint, ut. Quisquam doloremque minus possimus eligendi dolore ad.</p>
                                    <p class="author mt-10">- <span class="text-theme-colored">Catherine Grace,</span> <small><em>CEO apple.inc</em></small></p>
                                </div>
                            </div>
                        </div>
                        <div class="media border-1px bg-white sm-maxwidth400 p-15 mt-0 mb-15">
                            <div class="testimonial pt-10">
                                <div class="thumb pull-left mb-0 mr-0 pr-20">
                                    <img width="75" class="img-circle" alt="" src="/frontend/images/testimonials/1.jpg">
                                </div>
                                <div class="ml-100 ">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas vel sint, ut. Quisquam doloremque minus possimus eligendi dolore ad.</p>
                                    <p class="author mt-10">- <span class="text-theme-colored">Catherine Grace,</span> <small><em>CEO apple.inc</em></small></p>
                                </div>
                            </div>
                        </div>
                        <div class="media border-1px bg-white sm-maxwidth400 p-15 mt-0 mb-15">
                            <div class="testimonial pt-10">
                                <div class="thumb pull-left mb-0 mr-0 pr-20">
                                    <img width="75" class="img-circle" alt="" src="/frontend/images/testimonials/1.jpg">
                                </div>
                                <div class="ml-100 ">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas vel sint, ut. Quisquam doloremque minus possimus eligendi dolore ad.</p>
                                    <p class="author mt-10">- <span class="text-theme-colored">Catherine Grace,</span> <small><em>CEO apple.inc</em></small></p>
                                </div>
                            </div>
                        </div>
                        <div class="media border-1px bg-white sm-maxwidth400 p-15 mt-0 mb-15">
                            <div class="testimonial pt-10">
                                <div class="thumb pull-left mb-0 mr-0 pr-20">
                                    <img width="75" class="img-circle" alt="" src="/frontend/images/testimonials/1.jpg">
                                </div>
                                <div class="ml-100 ">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas vel sint, ut. Quisquam doloremque minus possimus eligendi dolore ad.</p>
                                    <p class="author mt-10">- <span class="text-theme-colored">Catherine Grace,</span> <small><em>CEO apple.inc</em></small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>