<!-- Section: Contact -->
<section id="contact" class="bg-silver-light">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-md-4">
                    <h2 class="font-36 text-uppercase line-height-1 mt-0">Contact <span class="text-theme-colored">Us</span></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo hic velit neque blanditiis eligendi! Quis esse, odit commodi cum provident nam magni.</p>
                    <ul class="list-icon rounded theme-colored mt-15 mb-sm-30">
                        <li><i class="fa fa-map-marker"></i>Address: #405, Lan Streen, Los Vegas, USA</li>
                        <li><i class="fa fa-phone"></i>Phone: +325 12345 65478</li>
                        <li><i class="fa fa-envelope"></i>Email: supporte@yourdomin.com</li>
                        <li><i class="fa fa-fax"></i>Fax: 1234 5678</li>
                    </ul>
                </div>
                <div class="col-md-8">
                    <!-- Contact Form -->
                    <form id="contact_form" name="contact_form" class="" action="includes/sendmail.php" method="post">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group mb-20">
                                    <input name="form_name" class="form-control" type="text" placeholder="Enter Name" required="">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group mb-20">
                                    <input name="form_phone" class="form-control" type="text" placeholder="Enter Phone">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group mb-30">
                                    <div class="styled-select">
                                        <select id="car_select" name="car_select" class="form-control" required="">
                                            <option value="">- Select Your Vehicle Model -</option>
                                            <option value="Toyota">Toyota</option>
                                            <option value="Jeep">Jeep</option>
                                            <option value="Audi">Audi</option>
                                            <option value="Truck">Truck</option>
                                            <option value="Land Rover">Land Rover</option>
                                            <option value="Lexus">Lexus</option>
                                            <option value="Mazda">Mazda</option>
                                            <option value="Mercedes - Benz">Mercedes - Benz</option>
                                            <option value="Nissan">Nissan</option>
                                            <option value="Mitsubishi">Mitsubishi</option>
                                            <option value="Saab">Saab</option>
                                            <option value="Renault">Renault</option>
                                            <option value="Mercury">Mercury</option>
                                            <option value="Pontiac Porsche">Pontiac Porsche</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group mb-30">
                                    <input name="reservation_date" class="form-control required date-picker" type="text" placeholder="Reservation Date" aria-required="true">
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-20">
                            <textarea name="form_message" class="form-control required" rows="5" placeholder="Enter Message"></textarea>
                        </div>
                        <div class="form-group">
                            <input name="form_botcheck" class="form-control" type="hidden" value="" />
                            <button type="submit" class="btn btn-flat btn-theme-colored text-uppercase mt-0 mb-sm-30" data-loading-text="Please wait...">Send your message</button>
                            <button type="reset" class="btn btn-flat btn-theme-colored text-uppercase mt-0 mb-sm-30">Reset</button>
                        </div>
                    </form>
                    <!-- Contact Form Validation-->
                    <script type="text/javascript">
                        $("#contact_form").validate({
                            submitHandler: function(form) {
                                var form_btn = $(form).find('button[type="submit"]');
                                var form_result_div = '#form-result';
                                $(form_result_div).remove();
                                form_btn.before('<div id="form-result" class="alert alert-success" role="alert" style="display: none;"></div>');
                                var form_btn_old_msg = form_btn.html();
                                form_btn.html(form_btn.prop('disabled', true).data("loading-text"));
                                $(form).ajaxSubmit({
                                    dataType: 'json',
                                    success: function(data) {
                                        if (data.status == 'true') {
                                            $(form).find('.form-control').val('');
                                        }
                                        form_btn.prop('disabled', false).html(form_btn_old_msg);
                                        $(form_result_div).html(data.message).fadeIn('slow');
                                        setTimeout(function() {
                                            $(form_result_div).fadeOut('slow')
                                        }, 6000);
                                    }
                                });
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</section>