<!-- Section: Experts -->
<section>
    <div class="container">
        <div class="section-title vertical-line">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-uppercase mb-0">How Can We Help You</p>
                    <h2 class="text-uppercase text-theme-colored title">Our <span class="text-black-333">Mechanic</span></h2>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="owl-carousel-4col">
                        <div class="item">
                            <div class="team-members maxwidth400">
                                <div class="team-thumb">
                                    <img class="img-fullwidth" alt="" src="/frontend/images/team/sm1.jpg">
                                </div>
                                <div class="team-bottom-part bg-lighter border-1px text-center p-10 pt-20 pb-10">
                                    <h4 class="text-uppercase font-raleway font-weight-600 m-0"><a class="text-theme-color-2" href="page-teachers-details.html"> Ismail Jhon</a></h4>
                                    <h5 class="">- Mechanic -</h5>
                                    <ul class="styled-icons icon-sm icon-dark icon-theme-colored">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="team-members maxwidth400">
                                <div class="team-thumb">
                                    <img class="img-fullwidth" alt="" src="/frontend/images/team/sm2.jpg">
                                </div>
                                <div class="team-bottom-part bg-lighter border-1px text-center p-10 pt-20 pb-10">
                                    <h4 class="text-uppercase font-raleway font-weight-600 m-0"><a class="text-theme-color-2" href="page-teachers-details.html">Sakib Smith</a></h4>
                                    <h5 class="">- Mechanic -</h5>
                                    <ul class="styled-icons icon-sm icon-dark icon-theme-colored">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="team-members maxwidth400">
                                <div class="team-thumb">
                                    <img class="img-fullwidth" alt="" src="/frontend/images/team/sm3.jpg">
                                </div>
                                <div class="team-bottom-part bg-lighter border-1px text-center p-10 pt-20 pb-10">
                                    <h4 class="text-uppercase font-raleway font-weight-600 m-0"><a class="text-theme-color-2" href="page-teachers-details.html">David Zakaria</a></h4>
                                    <h5 class="">- Mechanic -</h5>
                                    <ul class="styled-icons icon-sm icon-dark icon-theme-colored">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="team-members maxwidth400">
                                <div class="team-thumb">
                                    <img class="img-fullwidth" alt="" src="/frontend/images/team/sm4.jpg">
                                </div>
                                <div class="team-bottom-part bg-lighter border-1px text-center p-10 pt-20 pb-10">
                                    <h4 class="text-uppercase font-raleway font-weight-600 m-0"><a class="text-theme-color-2" href="page-teachers-details.html">Andre Smith</a></h4>
                                    <h5 class="">- Mechanic -</h5>
                                    <ul class="styled-icons icon-sm icon-dark icon-theme-colored">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>