<!-- Section: Features  -->
<section class="bg-silver-light">
    <div class="container">
        <div class="section-title vertical-line">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-uppercase mb-0">Chúng tôi có những dịch vụ gì?</p>
                    <h2 class="text-uppercase text-theme-colored title">Dịch vụ <span class="text-black-333">dành cho bạn</span></h2>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row">
                <% @services.each_with_index do |service_cat,index| %>
                <% service = Erp::Articles::Article.find_by_category_id(service_cat.id) %>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="features-box icon-box bg-white left media border-3px bg-hover-theme-colored mb-30 p-30 pb-20">
                        <a class="media-left pull-left flip" href="<%= service.nil? ? 'javascript:;' : service_link(service) %>">
                            <span class="number"><%= format('%02d', index + 1) %></span>
                        </a>
                        <div class="media-body">
                            <a href="<%= service.nil? ? 'javascript:;' : service_link(service) %>" class="title">
                                <h5 class="media-heading heading font-15"><%= service_cat.name %></h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt.</p>
                            </a>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</section>