<!-- Section: Features  -->
<section class="bg-silver-light">
    <div class="container">
        <div class="section-title vertical-line">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-uppercase mb-0">See our Awesome Features</p>
                    <h2 class="text-uppercase text-theme-colored title">Our <span class="text-black-333">Features</span></h2>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="icon-box bg-white left media border-3px bg-hover-theme-colored mb-30 p-30 pb-20"> <a class="media-left pull-left flip" href="#"><i class="flaticon-carfixing-transport-7 text-theme-colored"></i></a>
                        <div class="media-body">
                            <h5 class="media-heading heading">Features Title Here</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="icon-box bg-white left media border-3px bg-hover-theme-colored mb-30 p-30 pb-20"> <a class="media-left pull-left flip" href="#"><i class="flaticon-carfixing-pistons-cross text-theme-colored"></i></a>
                        <div class="media-body">
                            <h5 class="media-heading heading">Features Title Here</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="icon-box bg-white left media border-3px bg-hover-theme-colored mb-30 p-30 pb-20"> <a class="media-left pull-left flip" href="#"><i class="flaticon-carfixing-tool-4 text-theme-colored"></i></a>
                        <div class="media-body">
                            <h5 class="media-heading heading">Features Title Here</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="icon-box bg-white left media border-3px bg-hover-theme-colored mb-30 p-30 pb-20"> <a class="media-left pull-left flip" href="#"><i class="flaticon-carfixing-tool-2 text-theme-colored"></i></a>
                        <div class="media-body">
                            <h5 class="media-heading heading">Features Title Here</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="icon-box bg-white left media border-3px bg-hover-theme-colored mb-30 p-30 pb-20"> <a class="media-left pull-left flip" href="#"><i class="flaticon-carfixing-transport-6 text-theme-colored"></i></a>
                        <div class="media-body">
                            <h5 class="media-heading heading">Features Title Here</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="icon-box bg-white left media border-3px bg-hover-theme-colored mb-30 p-30 pb-20"> <a class="media-left pull-left flip" href="#"><i class="flaticon-carfixing-car-washing-machine text-theme-colored"></i></a>
                        <div class="media-body">
                            <h5 class="media-heading heading">Features Title Here</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>