<!-- Gallery -->
<section>
    <div class="container">
        <div class="section-title text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-uppercase text-theme-colored title">Our <span class="text-black-333">Gellery</span></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem autem<br> voluptatem obcaecati!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <!-- Portfolio Gallery Grid -->
                <div id="grid" class="gallery-isotope grid-3 masonry gutter-10 clearfix">

                    <!-- Portfolio Item Start -->
                    <div class="gallery-item breakfast">
                        <div class="thumb">
                            <img class="img-fullwidth" src="/frontend/images/portfolio/food1.jpg" alt="project">
                            <div class="overlay-shade"></div>
                            <div class="portfolio-upper-part">
                                <h4 class="font-22 mb-0">Title Place Here</h4>
                                <h5 class="font-14 text-gray-darkgray mt-0">- Photo</h5>
                            </div>
                            <div class="portfolio-bottom-part">
                                <ul class="list-inline">
                                    <li><i class="fa fa-heart-o font-16 text-theme-colored vertical-align-middle"></i><span class="text-gray-darkgray font-14 ml-5">839</span></li>
                                    <li><i class="fa fa-comments-o font-16 text-theme-colored vertical-align-middle"></i><span class="text-gray-darkgray font-14 ml-5">360</span></li>
                                </ul>
                            </div>
                            <div class="portfolio-view">
                                <a class="image-popup-vertical-fit" title="Dinner" href="images/portfolio/food1.jpg">
                                    <i class="flaticon-camera3 font-24 text-theme-colored"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Portfolio Item End -->

                    <!-- Portfolio Item Start -->
                    <div class="gallery-item breakfast special">
                        <div class="thumb">
                            <img class="img-fullwidth" src="/frontend/images/portfolio/food2.jpg" alt="project">
                            <div class="overlay-shade"></div>
                            <div class="portfolio-upper-part">
                                <h4 class="font-22 mb-0">Title Place Here</h4>
                                <h5 class="font-14 text-gray-darkgray mt-0">- Photo</h5>
                            </div>
                            <div class="portfolio-bottom-part">
                                <ul class="list-inline">
                                    <li><i class="fa fa-heart-o font-16 text-theme-colored vertical-align-middle"></i><span class="text-gray-darkgray font-14 ml-5">839</span></li>
                                    <li><i class="fa fa-comments-o font-16 text-theme-colored vertical-align-middle"></i><span class="text-gray-darkgray font-14 ml-5">360</span></li>
                                </ul>
                            </div>
                            <div class="portfolio-view">
                                <a class="image-popup-vertical-fit" title="Dinner" href="images/portfolio/food2.jpg">
                                    <i class="flaticon-camera3 font-24 text-theme-colored"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Portfolio Item End -->

                    <!-- Portfolio Item Start -->
                    <div class="gallery-item dinner">
                        <div class="thumb">
                            <img class="img-fullwidth" src="/frontend/images/portfolio/food3.jpg" alt="project">
                            <div class="overlay-shade"></div>
                            <div class="portfolio-upper-part">
                                <h4 class="font-22 mb-0">Title Place Here</h4>
                                <h5 class="font-14 text-gray-darkgray mt-0">- Photo</h5>
                            </div>
                            <div class="portfolio-bottom-part">
                                <ul class="list-inline">
                                    <li><i class="fa fa-heart-o font-16 text-theme-colored vertical-align-middle"></i><span class="text-gray-darkgray font-14 ml-5">839</span></li>
                                    <li><i class="fa fa-comments-o font-16 text-theme-colored vertical-align-middle"></i><span class="text-gray-darkgray font-14 ml-5">360</span></li>
                                </ul>
                            </div>
                            <div class="portfolio-view">
                                <a class="image-popup-vertical-fit" title="Dinner" href="images/portfolio/food3.jpg">
                                    <i class="flaticon-camera3 font-24 text-theme-colored"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Portfolio Item End -->

                    <!-- Portfolio Item Start -->
                    <div class="gallery-item breakfast">
                        <div class="thumb">
                            <img class="img-fullwidth" src="/frontend/images/portfolio/food4.jpg" alt="project">
                            <div class="overlay-shade"></div>
                            <div class="portfolio-upper-part">
                                <h4 class="font-22 mb-0">Title Place Here</h4>
                                <h5 class="font-14 text-gray-darkgray mt-0">- Photo</h5>
                            </div>
                            <div class="portfolio-bottom-part">
                                <ul class="list-inline">
                                    <li><i class="fa fa-heart-o font-16 text-theme-colored vertical-align-middle"></i><span class="text-gray-darkgray font-14 ml-5">839</span></li>
                                    <li><i class="fa fa-comments-o font-16 text-theme-colored vertical-align-middle"></i><span class="text-gray-darkgray font-14 ml-5">360</span></li>
                                </ul>
                            </div>
                            <div class="portfolio-view">
                                <a class="image-popup-vertical-fit" title="Dinner" href="images/portfolio/food4.jpg">
                                    <i class="flaticon-camera3 font-24 text-theme-colored"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Portfolio Item End -->

                    <!-- Portfolio Item Start -->
                    <div class="gallery-item lunch special">
                        <div class="thumb">
                            <img class="img-fullwidth" src="/frontend/images/portfolio/food5.jpg" alt="project">
                            <div class="overlay-shade"></div>
                            <div class="portfolio-upper-part">
                                <h4 class="font-22 mb-0">Title Place Here</h4>
                                <h5 class="font-14 text-gray-darkgray mt-0">- Photo</h5>
                            </div>
                            <div class="portfolio-bottom-part">
                                <ul class="list-inline">
                                    <li><i class="fa fa-heart-o font-16 text-theme-colored vertical-align-middle"></i><span class="text-gray-darkgray font-14 ml-5">839</span></li>
                                    <li><i class="fa fa-comments-o font-16 text-theme-colored vertical-align-middle"></i><span class="text-gray-darkgray font-14 ml-5">360</span></li>
                                </ul>
                            </div>
                            <div class="portfolio-view">
                                <a class="image-popup-vertical-fit" title="Dinner" href="images/portfolio/food5.jpg">
                                    <i class="flaticon-camera3 font-24 text-theme-colored"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Portfolio Item End -->

                    <!-- Portfolio Item Start -->
                    <div class="gallery-item lunch">
                        <div class="thumb">
                            <img class="img-fullwidth" src="/frontend/images/portfolio/food6.jpg" alt="project">
                            <div class="overlay-shade"></div>
                            <div class="portfolio-upper-part">
                                <h4 class="font-22 mb-0">Title Place Here</h4>
                                <h5 class="font-14 text-gray-darkgray mt-0">- Photo</h5>
                            </div>
                            <div class="portfolio-bottom-part">
                                <ul class="list-inline">
                                    <li><i class="fa fa-heart-o font-16 text-theme-colored vertical-align-middle"></i><span class="text-gray-darkgray font-14 ml-5">839</span></li>
                                    <li><i class="fa fa-comments-o font-16 text-theme-colored vertical-align-middle"></i><span class="text-gray-darkgray font-14 ml-5">360</span></li>
                                </ul>
                            </div>
                            <div class="portfolio-view">
                                <a class="image-popup-vertical-fit" title="Dinner" href="images/portfolio/food6.jpg">
                                    <i class="flaticon-camera3 font-24 text-theme-colored"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Portfolio Item End -->

                </div>
                <!-- End Portfolio Gallery Grid -->
            </div>
        </div>
    </div>
</section>