<!-- Section: Services -->
<section>
    <div class="container">
        <div class="section-title maxwidth500 vertical-line">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-uppercase mb-0">How Can We Help You</p>
                    <h2 class="text-uppercase text-theme-colored title">Our <span class="text-black-333">Service</span></h2>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="col-sm-6 col-md-4 maxwidth500 mb-40 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.1s">
                    <div class="project">
                        <div class="thumb">
                            <img class="img-fullwidth" src="/frontend/images/about/1.jpg" alt="">
                            <div class="hover-link">
                                <a href="#"><i class="flaticon-attachment"></i></a>
                            </div>
                        </div>
                        <div>
                            <h4 class="font-weight-700 mt-20">Sevice Title Place Here</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero omnis unde nesciunt?</p>
                            <a href="#" class="btn btn-sm btn-theme-colored">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 maxwidth500 mb-40 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
                    <div class="project">
                        <div class="thumb">
                            <img class="img-fullwidth" src="/frontend/images/about/2.jpg" alt="">
                            <div class="hover-link">
                                <a href="#"><i class="flaticon-attachment"></i></a>
                            </div>
                        </div>
                        <div>
                            <h4 class="font-weight-700 mt-20">Sevice Title Place Here</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero omnis unde nesciunt?</p>
                            <a href="#" class="btn btn-sm btn-theme-colored">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 maxwidth500 mb-40 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
                    <div class="project">
                        <div class="thumb">
                            <img class="img-fullwidth" src="/frontend/images/about/3.jpg" alt="">
                            <div class="hover-link">
                                <a href="#"><i class="flaticon-attachment"></i></a>
                            </div>
                        </div>
                        <div>
                            <h4 class="font-weight-700 mt-20">Sevice Title Place Here</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero omnis unde nesciunt?</p>
                            <a href="#" class="btn btn-sm btn-theme-colored">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 maxwidth500 mb-sm-40 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.4s">
                    <div class="project">
                        <div class="thumb">
                            <img class="img-fullwidth" src="/frontend/images/about/4.jpg" alt="">
                            <div class="hover-link">
                                <a href="#"><i class="flaticon-attachment"></i></a>
                            </div>
                        </div>
                        <div>
                            <h4 class="font-weight-700 mt-20">Sevice Title Place Here</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero omnis unde nesciunt?</p>
                            <a href="#" class="btn btn-sm btn-theme-colored">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 maxwidth500 mb-sm-40 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.4s">
                    <div class="project">
                        <div class="thumb">
                            <img class="img-fullwidth" src="/frontend/images/about/7.jpg" alt="">
                            <div class="hover-link">
                                <a href="#"><i class="flaticon-attachment"></i></a>
                            </div>
                        </div>
                        <div>
                            <h4 class="font-weight-700 mt-20">Sevice Title Place Here</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero omnis unde nesciunt?</p>
                            <a href="#" class="btn btn-sm btn-theme-colored">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 maxwidth500 mb-sm-0 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="project">
                        <div class="thumb">
                            <img class="img-fullwidth" src="/frontend/images/about/6.jpg" alt="">
                            <div class="hover-link">
                                <a href="#"><i class="flaticon-attachment"></i></a>
                            </div>
                        </div>
                        <div>
                            <h4 class="font-weight-700 mt-20">Sevice Title Place Here</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero omnis unde nesciunt?</p>
                            <a href="#" class="btn btn-sm btn-theme-colored">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>